* {
  margin: 0;
  border: 0;
  padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Estonia&family=Nunito:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

body {
  text-align: center;
  background-image: url("../imagens/cristina.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position-x: center;
  background-attachment: fixed;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  font-family: 'Nunito', sans-serif;
  color: rgb(236, 226, 226);
  padding: 20px;
  background-color: rgb(117, 64, 64);
}

p {
  font-family: 'Estonia', cursive;
  padding: 40px 20px;
  margin: 100px 40px 40px;
  width: 400px;
  background-color: rgba(255, 255, 255, 0.8);
}

#curiosidades {
  position: absolute;
  right: 0;
  width: 400px;
  right: 0;
  font-family: 'Estonia', cursive;
  padding: 40px 20px;
  margin: 0 40px;
  width: 400px;
  background-color: rgba(255, 255, 255, 0.8);
}

iframe {
  width: 640px;
  height: 360px;
}

ul {
  list-style-type: none;
}

#facebook {
  left: 0;
  margin: 40px 10px;
  width: 80px;
}

#instagram {
  left: 100px;
  width: 80px;
  margin: 40px 10px;
}