* {
  border: 0;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 6% 94%;
  grid-template-areas:
    "header header"
    "aside main";
  background-color: rgb(178, 222, 248);
  height: 949px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: header;
  color: white;
  background-color: rgb(41, 127, 197);
}

aside {
  color: white;
  background-color: rgb(13, 51, 82);
  grid-area: aside;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: main;
  margin: 2% 8%;
}

article {
  margin: 2% 0;
}

img {
  width: 640px;
}

h3 {
  margin: 10% 20%;
}