* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 10% 80% 10%;
  height: 949px;
  grid-template-areas:
    "header header"
    "aside main"
    "footer footer";
}

header {
  background-color: brown;
  grid-area: header;
}

aside {
  background-color: chocolate;
  grid-area: aside;
}

main {
  background-color: darkgreen;
  grid-area: main;
}

footer {
  background-color: violet;
  grid-area: footer;
}