* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
}

button {
  background-color: green;
  color: white;
  margin-top: 320px;
  padding: 10px 20px;
  font-size: 20px;
  transition-property: transform;
  transition-duration: 600ms;
}

button:hover {
  transform: scale(1.5) rotate(360deg);
  cursor: pointer;
}